<div class="bg-black">
    <div class="container mx-auto flex justify-between items-center">
        <p class="text-white ml-4">sell on gameyou</p>
        <p class="text-white ml-4">gameyou</p>
        <p class="text-white ml-4">العربية</p>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <div class="w-48">
                <app-logo></app-logo>
            </div>
        </div>
        <div class="mt-8">
            <app-search></app-search>
        </div>
        <div class="flex gap-12">
            <div routerLink="/register" class="flex gap-3 cursor-pointer">
                <div><i class="text-primary fa-solid fa-user"></i></div>
                <div>
                    Sign up
                </div>
            </div>

            <div routerLink="/login" class="flex gap-3 cursor-pointer">
                <div><i class="text-primary fa-solid fa-right-to-bracket"></i></div>
                <div>
                    Sign in
                </div>
            </div>

            <div routerLink="/cart" class="flex gap-3 cursor-pointer">
                <div><i class="text-primary fa-solid fa-cart-shopping"></i></div>
                <div>
                    Cart
                </div>
            </div>
        </div>
    </div>
</div>