<div class="container mx-auto">
    <form [formGroup]="addProductForm" (ngSubmit)="saveProduct(addProductForm.value)" class="flex gap-10 w-full">
        <div class="w-1/2">
            <div class="flex flex-col mt-2">
                <input type="text" placeholder="Product Name" formControlName="name"
                    class="w-full px-4 py-3 mt-4 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary" />

                <select
                    class="w-full px-4 py-3.5 mt-4 border rounded-md focus:outline-none focus:ring-1 bg-white focus:ring-primary"
                    formControlName="categoryName">
                    <option selected>Type</option>
                    <option>Accessories</option>
                    <option>Laptops</option>
                    <option>access</option>
                    <option>Chair / Desk</option>
                </select>

                <input type="number" placeholder="Price" formControlName="price"
                    class="w-full px-4 py-3 mt-4 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary" />

                <input type="number" placeholder="Quantity" formControlName="quantity"
                    class="w-full px-4 py-3 mt-4 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary" />

                <input type="text" placeholder="Title" formControlName="title"
                    class="w-full px-4 py-3 mt-4 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary" />

            </div>
            <div class="">
                <textarea rows="3" cols="6" placeholder="Description" formControlName="description"
                    class="w-full px-4 py-2 mt-4 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary"></textarea>
            </div>
            <button type="submit"
                class="w-24 px-6 py-2 mt-4 text-white font-bold bg-primary rounded-lg hover:bg-blue-900">save</button>
        </div>
        <div class="w-1/2 mt-6">
            <input type="file" class="hidden" (change)="uploadProductImages($event)" id="file" multiple required />
            <!-- component -->
            <main class="container mx-auto">
                <!-- file upload modal -->
                <article aria-label="File Upload Modal"
                    class="relative h-full flex flex-col bg-white shadow-xl rounded-md" ondrop="dropHandler(event);"
                    ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);"
                    ondragenter="dragEnterHandler(event);">
                    <!-- scroll area -->
                    <section class="h-full overflow-auto p-8 w-full flex flex-col">
                        <label for="file"
                            class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                            <p class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                                <span>Drag and drop your</span>&nbsp;<span>Images anywhere or</span>
                            </p>
                            <input id="hidden-input" type="file" multiple class="hidden" />
                            <div id="button"
                                class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                Upload Images
                            </div>
                        </label>
                    </section>
                </article>
            </main>
            <div class="flex gap-6 w-16 h-16 mt-4">
                <img *ngFor="let image of images" [src]="image" alt="" class="w-full h-full" />
            </div>
        </div>
    </form>
</div>