<!-- price filter -->
<div class="bg-primary p-3 rounded-t-md">
    <p class="text-white font-semibold">Filter Product</p>
</div>
<div class="flex flex-col gap-7 bg-gray-100 p-6 w-64 rounded-md">
    <div>
        <div class="flex flex-col gap-2">
            <div class="hover:underline hover:text-secondary cursor-pointer">Under $10</div>
            <div class="hover:underline hover:text-secondary cursor-pointer">$10 to $15</div>
            <div class="hover:underline hover:text-secondary cursor-pointer">$15 to $25</div>
            <div class="hover:underline hover:text-secondary cursor-pointer">$25 & Above</div>
            <div></div>
        </div>

        <div class="mt-4">
            <div class="flex justify-center gap-2">
                <div class="w-36 h-8">
                    <input type="number" placeholder="$ Min" class="w-full h-full p-2 rounded-md" />
                </div>

                <div class="w-36 h-8">
                    <input type="number" placeholder="$ Max" class="w-full h-full p-2 rounded-md" />
                </div>

                <button type="button" class="px-2 py-1 rounded-md font-semibold bg-primary text-white">Go</button>
            </div>
        </div>
    </div>
</div>

<!-- customer review {stars} filter -->
<div class="flex flex-col gap-7 bg-gray-100 p-6 w-64 rounded-md mt-4">
    <div class="cursor-pointer hover:text-secondary">
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span class="font-semibold"> &nbsp;&&nbsp; up</span>
    </div>

    <div class="cursor-pointer hover:text-secondary">
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span class="font-semibold"> &nbsp;&&nbsp; up</span>
    </div>

    <div class="cursor-pointer hover:text-secondary">
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span class="font-semibold"> &nbsp;&&nbsp; up</span>
    </div>

    <div class="cursor-pointer hover:text-secondary">
        <i class="text-secondary fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span class="font-semibold"> &nbsp;&&nbsp; up</span>
    </div>
</div>
<!-- discount filter -->