<app-navbar></app-navbar>

<div class="container mx-auto">
    <div class="text-2xl font-semibold text-primary my-8">Shopping Cart</div>
    <div class="flex gap-8">
        <!-- Products -->
        <div class="flex flex-col gap-6 w-2/3 bg-gray-100 rounded-md">
            <div *ngFor="let product of cart; let i = index" class="flex gap-10 p-4">
                <div class="rounded-md w-52 cursor-pointer">
                    <img src="assets/imgs/1.jpg" alt="product" class="w-full h-full" />
                </div>
                <div class="flex flex-col justify-around w-1/2">
                    <p class="cursor-pointer h-12 line-clamp-2 font-bold ">
                        {{ product.title }}
                    </p>
                    <div (click)="removeItemFromCart(i)" class="cursor-pointer hover:text-secondary text-primary">
                        <i class="fa-sharp fa-solid fa-trash"></i>&nbsp;&nbsp;Remove
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <p class="text-xl font-semibold text-primary">${{ product.price }}</p>

                    <!-- Quantity -->
                    <div class="flex items-center gap-4 mt-6">
                        <button (click)="decreaseQuantity(i)" type="button"
                            class="px-4 py-2 rounded-md text-white font-semibold bg-primary">-</button>
                        <div class="font-semibold">{{ product.quantity }}</div>
                        <button (click)="increaseQuantity(i)" type="button"
                            class="px-4 py-2 rounded-md text-white font-semibold bg-primary">+</button>
                    </div>
                </div>
            </div>
            <!-- ... products -->
        </div>

        <!-- checkout -->
        <div class="flex flex-col justify-around w-1/3 h-60 bg-gray-100 rounded-md">
            <div class="self-center">
                <button (click)="goTocheckoutPage()" type="button"
                    class="text-white text-lg font-semibold bg-primary hover:bg-blue-950 px-28 py-3 rounded-full">Go
                    to
                    checkout
                </button>
            </div>

            <div class="flex justify-around font-semibold">
                <div class="text-primary">
                    Shipping
                </div>
                <div class="w-36 text-primary">
                    Free
                </div>
            </div>

            <div class="flex justify-around font-semibold">
                <div class="text-primary">
                    Subtotal
                </div>
                <div class="w-36 text-2xl text-secondary">
                    $ {{ subtotal }}
                </div>
            </div>
        </div>
    </div>
</div>