.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    animation: slideDown 0.5s ease-out, hideNotification 0.5s 2.5s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes hideNotification {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}