<app-navbar></app-navbar>
<div class="w-full flex justify-center items-center gap-4 mt-4">

    <div>
        <app-categories-bar></app-categories-bar>
    </div>

    <div class="w-[62rem]">
        <app-slider></app-slider>
    </div>

    <div>
        <app-categories-bar></app-categories-bar>
    </div>
</div>

<div class="flex justify-center items-center mt-6">
    <app-explore-categories></app-explore-categories>
</div>

<div class="flex justify-center items-center mt-6">
    <app-top-deals-component></app-top-deals-component>
</div>

<div class="flex justify-center items-center mt-6">
    <app-free-delivery-products-component></app-free-delivery-products-component>
</div>

<div class="flex justify-center items-center mt-6">
    <app-gamyou-ad></app-gamyou-ad>
</div>

<div class="flex justify-center items-center mt-10">
    <p className='text-base sm:text-sm'>Copyright © 2023 GAMEYOU. All rights reserved.</p>
</div>