<div class="bg-primary p-3 rounded-t-md">
    <p class="text-white font-semibold">Free Delivery</p>
</div>
<div class="flex justify-center items-center gap-20 bg-gray-100 p-6 rounded-md">
    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Monitors-220X220.png" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Monitors
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Game-Hardware_220x220.jpg" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Gaming Hardware
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Laptop-Accessories-220X220.png" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Laptops
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Wifi-220x220.jpg" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Wifi
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Keyboards_220x220.jpg" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Keyboards / Mouses
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Data-Storage-220X220.png" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Data Storage
        </div>
    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-36">
            <img src="assets/imgs/Stockage-220x220.jpg" class="w-full h-full" alt="" />
        </div>
        <div class="font-semibold">
            Stockage
        </div>
    </div>
</div>