<div class="hover:ring-1 ring-primary rounded-md bg-white">
    <div (click)="goToProductPage()" class="cursor-pointer border-primary rounded-md w-full h-60">
        <img src="assets/imgs/1.jpg" alt="laptop" class="w-full h-full" />
    </div>

    <div class="flex flex-col gap-1 p-4">
        <!-- title -->
        <div class="text-sm w-60 mt-2">
            <p class="h-10 line-clamp-2">
                {{ product.title }}
            </p>
        </div>

        <!-- Price -->
        <div>
            <span class=" font-semibold text-lg text-primary">$ {{ product.price }}</span>
        </div>

        <div class="flex justify-between">
            <div>
                <span class="text-sm text-gray-500 line-through">$2999.99</span>&nbsp;&nbsp;
                <span class="text-secondary">-40%</span>
            </div>

            <div class="cursor-pointer">
                <i class="text-primary fa-regular fa-heart"></i>
            </div>
        </div>
    </div>
</div>