<app-navbar></app-navbar>

<div class="w-full bg-gray-50" style="height: 100vh;">
    <div class="flex items-baseline">
        <div class="w-1/2 flex flex-col items-center mt-16">
            <div class="flex flex-col items-center gap-4">
                <img src="/assets/imgs/86573912.jpeg" class="w-32 h-32 rounded-full">
                <h1 class="text-xl font-semibold text-primary"> {{ currentUser.email }} </h1>
            </div>

            <form [formGroup]="formGroupInfo" (ngSubmit)="updateInfo(formGroupInfo.value)"
                class="w-1/2 mt-10 flex flex-col justify-center">
                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="username">first name</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="username" type="text" formControlName="firstName">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="username">last name</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="username" type="text" formControlName="lastName">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="password">Current Password</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="password" type="password" formControlName="hashedPassword">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="phone">Phone</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="phone" type="tel" formControlName="phone">
                </div>
                <button type="submit" class="bg-primary text-white p-2 rounded-lg hover:bg-blue-900">Edit
                    Profile</button>

            </form>
        </div>

        <div class="w-1/2 self-center mt-64 mr-24">
            <h1 class="text-xl text-primary font-semibold mt-6">Edit Password</h1>
            <form [formGroup]="formGroupPassword" (ngSubmit)="updatePassword(formGroupPassword.value)"
                class="w-full mt-10 flex flex-col justify-center">
                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="username">Current Password</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="username" type="password" formControlName="oldPassword">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="email">New Password</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="email" type="password" formControlName="newPassword">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2" for="phone">Confirm Password</label>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primaryhover"
                        id="password" type="password" formControlName="confirmNewPassword">
                </div>
                <button type="submit" class="bg-primary text-white p-2 rounded-lg hover:bg-blue-900">Edit
                    Password</button>

            </form>
        </div>
    </div>
</div>