<div class="flex flex-col gap-7 bg-gray-100 p-6 w-64 rounded-md">
    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-headphones"></i></div>
        <div>Accessories</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-desktop"></i></div>
        <div>Monitors</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-brands fa-dropbox"></i></div>
        <div>Pc Parts</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-laptop"></i></div>
        <div>Laptops</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-gamepad"></i></div>
        <div>Gaming Chair / Desk</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-sharp fa-solid fa-network-wired"></i></div>
        <div>Router / Network Cable</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-desktop"></i></div>
        <div>Monitors</div>
    </div>

    <div class="flex gap-3">
        <div><i class="text-primary fa-solid fa-laptop"></i></div>
        <div>Laptops</div>
    </div>
</div>